.main {
  background-color: #574b8a;
  padding-block: 115px;
  padding-inline: 70px;
}

.main_image {
  width: 600px;
  height: 450px;
}

.grid_button1 {
  background-color: #f59933 !important;
  border-radius: 5px;
  padding: 8px 16px;
  letter-spacing: 0 !important;
}
.grid_button2 {
  background-color: #ffffff !important;
  border-radius: 5px;
  padding: 8px 16px;
  letter-spacing: 0 !important;
}

.head_line {
  font-size: 11px !important;
  color: #ffffff;
  font-weight: 500 !important;
}
